<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="/BEB/public/css/bootstrap.min.css">
            <link rel="stylesheet" href="/BEB/public/css/app.css">
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{path('index')}}">Accueil</a>
            <ul class="navbar-nav mr-auto">
                <li>
                  <a class="nav-link" href="{{path('pupils_list')}}">Eleves </a>
                </li>
                <li >
                  <a class="nav-link" href="{{path('books_list')}}">Livres </a>
                </li>
                 <li >
                  <a class="nav-link" href="{{path('borrows_list')}}">Emprunts </a>
                </li>
            </ul>

            </div>
          </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="/BEB/public/js/jquery-3.5.0.min.js"></script>
            <script src="/BEB/public/js/app.js"></script>
        {% endblock %}
    </body>
</html>
